# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.so
.env
.venv/
venv/
env/

# ===============================
# Virtual Environments & Binaries
# ===============================
python/
python3/
pip/
pip3/

# ===============================
# Spark / Hadoop
# ===============================
spark-warehouse/
metastore_db/
derby.log
checkpoint/
checkpoints/
tmp/
spark-checkpoints/

# ===============================
# Kafka / Zookeeper
# ===============================
kafka-logs/
zookeeper-data/

# ===============================
# Logs
# ===============================
*.log
logs/

# ===============================
# IDE / OS
# ===============================
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# ===============================
# Build / Packaging
# ===============================
build/
dist/
*.egg-info/
.eggs/

# ===============================
# Raw Data (Kaggle CSVs)
# ===============================
# ingestion/data/*.csv
